{% extends 'layouts.html' %}
{% block content %}
  {% if posts|length > 0 %}
    {% for post in posts %}
      {% if loop.index % 2 != 0 %}
      <div class="card border-0 mt-2 d-flex justfy-content-betweenm" style="width: 100%;">
          <div class="card-body">
            <img src="/static/images/{{post.image}}"  alt="Post image"  class="float-left mr-4" style="width:300px; height: 250px;">
            <h5 class="card-title mt-3">
              {{ post.title }}
            </h5>
            <p class="card-text">{{ post.content }}</p>
            <a class="btn btn-outline-primary" href="/posts/{{ post.id }}">Read More...</a>
          </div>  
        </div>
      {% else %}
        <div class="card border-0 mt-2 d-flex justfy-content-betweenm" style="width: 100%;">
            <div class="card-body">
              <img src="/static/images/{{post.image}}"  alt="Post image" style="width:300px; height: 250px;" class="float-right ml-4">
              <h5 class="card-title mt-3">
                {{ post.title }}
              </h5>
              <p class="card-text">{{ post.content }}</p>
              <a class="btn btn-outline-primary" href="/posts/{{ post.id }}">Read More...</a>
            </div>  
          </div>
      {% endif %}
    {% endfor %}
  {% else %}
    <h3 class="text-center mt-3">No Posts Found</h3>
  {% endif %}
{% endblock %}