{% extends 'layouts.html' %}
{% block content %}
  <h2 class="mt-2">{{ post.title }}</h2>
  <p class="float-left">{{ post.content }}</p>
  <p class="float-right text-secondary">Created At` {{ post.created_at }}</p>
  <img src="/static/images/{{post.image}}" width="100%" alt="">
  {% if user != None and user.id==post.user_id%}
    <br><br>
    <a href="/posts/{{post.id}}/edit" class="btn btn-outline-info float-left">Edit</a>
    <form action="/posts/{{post.id}}/delete" method="POST">
      <input type="submit" class="btn btn-outline-danger float-right" value="DELETE" onclick="return confirm('Are You Sure?')">
    </form>
    <br><br>
  {% endif %}
{% endblock %}